/* === GIRD ===*/

.row {

    @mixin clearfix;

    &--t-padding {
        padding-top: 3rem;
    }

    &--gutters {
        margin-right: -6.5rem;
    }

    &--gutters-large {
        margin-right: -10rem;
    }

    &--gutters-small {
        
        &:not(:last-child) {
            margin-right: -4.5rem;
        }
    }

    &--gutters > div { /*select all of its direct children*/
        padding-right: 6.5rem;
    }

    &--gutters-large > div {
        padding-right: 10rem;
    }

    &--gutters-small > div {
        padding-right: 4.5rem;
    }

    &--gutters-project {
        /* padding: 0 10rem; */
        margin-top: 5rem;
    }

    &__b-margin-until-medium {
        margin-bottom: 1rem;
    }

    @mixin atMedium {

        &__b-margin-until-medium {
            margin-bottom: 0;
        }

        &__medium-4 {
            float: left;
            width: 33.33%;

            &--larger {
                width: 37%;
            }
        }

        &__medium-6 {
            float: left;
            width: 50%;
            padding-bottom: 3rem;
        }

        &__medium-8 {
            width: 66.66%;
            margin: 0 auto;
        }

        &__medium-8--smaller {
            width: 63%;
        }

        &__medium-image {
            float: left;
            width: 40%
        }

        &__medium-text {
            float: left;
            width: 60%
        }

        &__medium--wide {
            float: left;
            width: 40%
        }

        &__medium--narrow {
            float: left;
            width: 60%
        }
    }  

    @mixin atLarge {

        &__b-margin-until-large {
            margin-bottom: 0;
        }

        &__large-4 {
            float: left;
            width: 33.33%;

            &--larger {
                widows: 37%;
            }
        }

        &__large-6 {
            float: left;
            width: 50%
        }

        &__large-8 {
            float: left;
            width: 66.66%;
        }

        &__large-8--smaller {
            widows: 63%;
        }

        &__large-10 {
            float: none;
            width: 80%;

            &__image--right {
                float: right;
                width: 40%;
            }

            &__text--left {
                float: left;
                width: 57%;
            }

            &__image--left {
                float: left;
                width: 40%;
            }

            &__text--right {
                float: right;
                width: 57%;
            }
        }
    } 

/* Begin Equal Height Roles */
    &--equal-height-at-medium {
        @mixin atMedium {
            display: flex;
        }

        & > div {
            float: none; /*stop the column to float*/
            display: flex; /*tell them to use flex*/
        }
    }

    &--equal-height-at-large {
        @mixin atLarge {
            display: flex;
        }

        & > div {
            float: none; /*stop the column to float*/
            display: flex; /*tell them to use flex*/
        }
    }


}