
.large-hero {
  position: relative;
  height: 100vh;

  @mixin atSmall {
    height: 35vh;
    /* border-top: solid 2.2rem #C5D1D3; */
    /* border-top: solid 2.2rem $light-blue; */
    border-bottom: solid 1rem $light-blue;
    /* border-bottom: solid 1rem #C5D1D3; */
  }
  @mixin atMedium {
    height: 40vh;
  }
  @mixin atLarge {
    height: 60vh;
  }

  /* &__container {
    overflow: hidden;
    padding-left: 18px;
    padding-right: 18px;
    max-width: 960px;
    margin: 0 auto;
  } */

  &__image {
    position: absolute;
    width: 80%;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);

    @mixin atSmall {
      width: 25%;
      top: 50%;
      left: 70%;
    }
    @mixin atMedium {
      width: 28%;
      left: 75%;
    }
    @mixin atLarge {
      max-width: 30%;
    }

    @mixin atLarger {
      width: 25%;
    }
  }

  &__text-content {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $hero-text-color;
    
    @mixin atSmall {
      top: 40%;
      left: 15%;
      transform: translate(0%, 0%);
      text-align: left;
    }
  }

  &__title {
    font-family: 'Playfair Display', serif;
    font-size: 2.7rem;
    letter-spacing: .1rem;
    font-weight: 400;
    margin: 0;

    @mixin atSmall {
      font-size: 4.1rem;
      letter-spacing: .3rem;
    }
    @mixin atMedium {
      font-size: 5.5rem;
    }
    @mixin atLarge {
      font-size: 7.1rem;
      letter-spacing: .5rem;
    }
  }

  &__subtitle {
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: .1rem;

    @mixin atSmall {
      font-size: 2.9rem;
      margin-top: -2.2rem;
      letter-spacing: .2rem;
    }
    @mixin atMedium {
      font-size: 3.2rem;
    }
    @mixin atLarge {
      font-size: 3.6rem;
      letter-spacing: .6rem;
    }
  }
}
