.page-section {
  padding: 1.8rem;
  text-align: center;

  @mixin atMedium {
    padding: 4.5rem;
  }

  &--dark-gray {
    background-color: $dark-gray;
  }

  &--light-gray {
    background-color: $light-gray;
  }

  &--light-blue {
    background-color: $light-blue;
  }

  &--dark-blue {
    background-color: $dark-blue;
  }
}


