#sushi {
	margin-top: 20%;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

/* ==== SVG ANIMATION ==== */
#mat {
	animation: pop 6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-animation: pop 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-animation-fill-mode: forwards;
}

/*Keyframes*/
@-webkit-keyframes pop_b {
	0% {-webkit-transform:scale(.2); -webkit-transform:rotate(27deg); opacity: 0;}
	100% {-webkit-transform:scale(1); -webkit-transform:rotate(0deg); opacity: 100%;}
}

@-webkit-keyframes pop {
	0% {-webkit-transform:scale(.7); -webkit-transform:rotate(7deg); opacity: 0;}
	100% {-webkit-transform:scale(1); -webkit-transform:rotate(0deg); opacity: 100%;}
}

#table {
	animation: pop 6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-animation: pop 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-animation-fill-mode: forwards;
}

/*Keyframes*/
@-webkit-keyframes pop_b {
	0% {-webkit-transform:scale(.2); -webkit-transform:rotate(27deg); opacity: 0;}
	100% {-webkit-transform:scale(1); -webkit-transform:rotate(0deg); opacity: 100%;}
}

@-webkit-keyframes pop {
	0% {-webkit-transform:scale(.7); -webkit-transform:rotate(7deg); opacity: 0;}
	100% {-webkit-transform:scale(1); -webkit-transform:rotate(0deg); opacity: 100%;}
}

/* rice-rolls */
#rice-rolls {
	animation-delay:.1s;
	-webkit-animation-delay:1s;
	animation: sushi-rolls 4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes sushi-rolls {
    0% { opacity: 0; }
	100% { opacity: 100%; }
}

/* bowl */
#bowl {
	animation-delay:.2s;
	-webkit-animation-delay:1s;
	animation: bowl 3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes bowl {
    0% { opacity: 0; }
	100% { opacity: 100%; }
}

/* green-vegi */
#green-vegi {
	animation-delay:.8s;
	-webkit-animation-delay:1s;
	animation: green-vegi 5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes green-vegi {
    0% { opacity: 0; }
	100% { opacity: 100%; }
}

/* brown-salmon */
#brown-salmon {
	animation-delay:1s;
	-webkit-animation-delay:1s;
	animation: green-vegi 8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes brown-salmon {
    0% { opacity: 0; }
	100% { opacity: 100%; }
}


#special {
	animation: special 6s cubic-bezier(0.68, 0.55, 0.265, 1.55);
	-webkit-animation: special 5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-animation-fill-mode: forwards;
}

/*Keyframes*/
@-webkit-keyframes special {
	0% {-webkit-transform:scale(.2); -webkit-transform:rotate(27deg); opacity: 0;}
	100% {-webkit-transform:scale(1); -webkit-transform:rotate(0deg); opacity: 100%;}
}

#chopsticks {
	animation: chopsticks 6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-animation: chopsticks 3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-animation-fill-mode: forwards;
}

/*Keyframes*/
@-webkit-keyframes chopsticks {
	0% {-webkit-transform:scale(.2); -webkit-transform:rotate(27deg); opacity: 0;}
	100% {-webkit-transform:scale(1); -webkit-transform:rotate(0deg); opacity: 100%;}
}


